{% extends 'base.html' %}

{% block content %}

    Hello world
    <form class="form-inline" method="POST" >
        <div class="form-group">
          <div class="input-group">
              <span class="input-group-addon">Please select</span>
                  <select name="comp_select" class="selectpicker form-control">
    
            
                    <option>Select LGA</option>
                    {% for lgab in lgabs %}
                    <option value="{{lgab.lga_id}}">{{ lgab.lga_name }}</optiona>
                    {% endfor %}
                </select>
          </div>
          <button class="btn btn-outline-secondary" type="submit">Submit</button>
        </div>
      </form>

      <div>
          
          {{calculated_total}}
      </div>


{% endblock %}