<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table>

        <!-- <tr>
            <th>    {% for polling_unit in polling_units %}
            {{polling_unit.polling_unit_id,polling_unit.polling_unit_name,polling_unit.__dict__.keys() }}
            {% endfor %}
        </th>
    </tr>
<tr> -->
    <td>
        {{columns_header}}

        <!-- {% for column in polling_units %}
        {{polling_unit.polling_unit_name}}
        {% endfor %} -->
    </td>
            </tr>
    </table>
</body>

</html>